body {
  font-family: Arial, sans-serif;
  color: #333;
  margin: 0;
  padding: 0;
}
body {
  background-image: url('campo.jpg'));
  background-image: url('campo.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 630vh;
  margin: 20;
}

}
.container {
  width: 90%;
  max-width: 600px;
  margin: auto;
  padding: 20px;
  background: white;
  border-radius: 10px;
}

@media (min-width: 768px) {
  .container {
    padding: 40px;
    font-size: 18px;
  }

  textarea {
    height: 120px;
  }
}


}

header  {
  background-color: #4CAF50;
  color: white;
  padding: 200px;
  text-align: center;

}
header h1 {
  margin: 50px;
  font-size: 2em;
  color: green;
}


nav ul {
  list-style: none;
  display: flex;
  gap: 14px;
  justify-content: center;
  margin: 0;
  padding: 0;
}

nav ul li a {
  color:  green;
  background-color: white;
  text-decoration: none;
  padding: 8px 4px;
  border-radius: 90px;
  box-shadow: 0 0px 100px rgba(0, 0, 0, 0.1);
  font-weight: 900;
  font-size: 1.1em;
  transition: color 0.3s;
}

nav ul li a:hover {
  color: #6a7;
}

section {
  max-width: 1000px;
  margin: 40px auto;
  background: #f0fff4;
  padding: 25px 30px;
  border-radius: 12px;
  box-shadow: 0 4px 100px rgba(0, 0, 0, 0.1);
}

h2 {
  color: green;
  margin-bottom: 10px;
  text-align: center;
}

.campo, .cidade {
  margin: 20px 0;
  padding: 20px;
  border-radius: 10px;
  position: center;
  
}

.campo {
  background-color:;
}

button {
  background-color: #50;
  color: white;
  padding: 10px 20px;
  border: none;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  margin: 20px auto;
  display: block;
}

button:hover {
  background-color: #388e3c;
}

footer {
  text-align: center;
  font-size: 20px;
  color: white;
  padding: 10px;
}

.comentario-container {
  max-width: 600px;
  margin: auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

textarea {
  width: 100%;
  height: 100px;
  padding: 10px;
  font-size: 14px;
  border-radius: 8px;
  border: 1px solid #ccc;
  resize: none;
}

.comentarios-postados {
  margin-top: 20px;
}

.comentario {
  background-color: #e0f7e9;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 10px;
}
